.container-general{
    width: 99%;
    height: 715px;
    background-color: #85331e;
    border-radius: 10px;
    display: flex;     
    flex-direction: column; 
    justify-content: center; 
    justify-content: space-around; 
    align-items: center;     
}

.container-hijo{
    width: 99%;
    height: 32%;
    border-radius: 10px;
    display: flex;  
    flex-direction: row; 
    justify-content: center; 
    justify-content: space-between; 
    align-items: center;    
}

.container-nieto{
    width: 32%;
    height: 100%;
    border-radius: 10px;
    background-color: #ebdfa5;
    display: flex;           
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center; 

}

.container-primo{
    width: 99%;
    height: 100%;
    border-radius: 10px;
    background-color: #4a8b75;        
    display: flex;           
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center; 
}
